{% extends "./base.html.twig" %}
{% block title %}Administration-{% endblock %}
{% block description %}
    <meta name="description" content="Administration portfolio de Menezes"/>
{% endblock %}
{% block body %}
<main class="admin">
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert_success">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('errors') %}
            <div class="alert_danger">{{message}}</div>
        {% endfor %}
        {% block bodyAdmin %}
            <a class="btn_back" href="{{ path('admin.project.index')}}">Index des projets</a>
        {% endblock %}
    </div>
</main>
{% endblock %}