{% extends "./base.html.twig" %}
{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert_success">{{message}}</div>
    {% endfor %}
    {% for message in app.flashes('errors') %}
        <div class="alert_danger">{{message}}</div>
    {% endfor %}
    <main class="admin">
        {% block bodyAdmin %}
            <a class="btn_back" href="{{ path('admin.project.index')}}">Index des projets</a>
        {% endblock %}
    </main>
</div>
{% endblock %}