<div class="flex">
    <form method="post" action="{{ path('admin.project.delete', {'id': project.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
        <button class="btn_delete">Supprimer</button>
    </form>
    <a class="btn_edit"href="{{ path('admin.project.edit', {'id': project.id}) }}">Editer</a>
</div>

