{% extends 'admin/admin.html.twig' %}

{% block title %}Editer un projet{% endblock %}

{% block bodyAdmin %}
    <h1>Editer un projet</h1>
    {{ include('admin/project/_form.html.twig', {'button_label': 'Mise à jour'}) }}
{% endblock %}
