{% extends 'admin/admin.html.twig' %}

{% block title %}Nouveau projet{% endblock %}
{% block description %}
    <meta name="description" content="Créer un nouveau projet"/>
{% endblock %}

{% block bodyAdmin %}
    <h1 class="title">Créer un projet</h1>
    {{ include('admin/project/_form.html.twig') }}
{% endblock %}
