.pictures {
    position: relative;
    padding: 1rem;
    background-color: rgb(221, 221, 221);
    border-radius: var(--br);
    flex-wrap: wrap;

    .picture {
        margin: 5px;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        
        img {
            max-width: 130px;
            max-height: 200px;
            &:hover {
                filter: grayscale(1);
            }
        }
    
        .remove {
            max-width: 40px;
            max-height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:hover {
                cursor: pointer;
            }
        }
    }
}
