*  {
    font-family: var(--font-apple);
}

body {
    background-color: white;
    font-size: var(--size);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    &:hover {
        color: var(--blue);
    }
}

p {
    font-size: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;

    tr {
        background-color: white;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        th {
            background-color: var(--black);
            color: white;
            font-size: 1rem;
            padding: 1rem;
        }

        &:nth-child(2n) {
            background-color: rgba(241, 241, 241, 0.8);
        }
       
        td {
            padding: 1rem;
            font-size: 1rem;
            text-align: center; 
            vertical-align: middle;
        }
    }
}

.error404 {
    font-size: 5rem;
    text-align: center;
    margin: 2rem;
}

.title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.subtitle {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 800px) { 
    .title {
        font-size: 1.5rem;
    }

    p, a, .subtitle {
        font-size: 1.2rem;
    }
}
