*  {
    font-family: var(--font);
}

body {
    background-color: white;
    font-size: var(--size);
}

.container {
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}

a {
    &:hover {
        color: var(--blue);
    }
}

.subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;

    tr {
        background-color: white;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        th {
            background-color: var(--black);
            color: white;
            font-size: 1rem;
            padding: 1rem;
        }

        &:nth-child(2n) {
            background-color: rgba(241, 241, 241, 0.8);
        }
       
        td {
            padding: 1rem;
            font-size: 1rem;
            text-align: center; 
        }
    }

    .selected_row {
        border-left: 10px solid rgba(250, 58, 58, 0.8);
        border-right: 10px solid rgba(250, 58, 58, 0.8);
    }
}

.flex {
    display: flex;

    .item {
        width: 100%;
        margin: 1rem
    }

    &_column {
        @extend .flex;
        flex-direction: column;
    }

    &_between {
        @extend .flex;
        justify-content: space-between;
    }
}
