#contact {
    background-color: var(--grey);
    margin-top: 5rem;

    .content {
        padding: 3rem 1rem;
        display: flex;
        justify-content: center;

        .details {
            width: 50%;
            display: flex;
            flex-direction: column;
            text-align: start;
            font-size: 1.5rem;
            font-style: normal;

            .item {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 1rem;
                }
            }
        }

        .contact_form {
            width: 50%;

            div {
                display: flex;
                max-width: 100%;
            }

            .input {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            label {
                text-align: left;
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.input + .input {
    margin-left: 1rem;
}

@media screen and (max-width: 980px) { 
    #contact {
        .content {
            flex-direction: column;
            .details {
                width: 100%;
                margin-bottom: 1rem;
            }
    
            .contact_form {
                width: 100%;
                div {
                    flex-direction: column;
                }
            }
        }
    }   

    .input + .input {
        margin-left: 0;
    }
}

