@font-face {
    font-family: "proDisplay";
    src: url("./fonts/sfdisplay.ttf");
   }

@font-face {
 font-family: "mistral";
 src: url("./fonts/mistral.ttf");
}

:root {
    --black: #191919;
    --grey: #f4f4f4;
    --white: #fcfcfc;
    --font-apple: "proDisplay","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-mistral: "mistral","Helvetica Neue","Helvetica","Arial",sans-serif;
    --size: 15px;
    --container: 1200px;
    --red: #ee2436;
    --red-hover: #db2130;
    --blue: #00a3df;
    --blue-hover: #0196cc;
    --green: #6ab04c;
    --green-hover: #5d9e41;
    --orange: #f0932b;
    --orange-hover: #e78d25;
}
