:root {
    --black: #191919;
    --grey: #f4f4f4;
    --white: #fcfcfc;
    --font: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    --size: 15px;
    --container: 1200px;
    --red: #ee2436;
    --red-hover: #db2130;
    --blue: #00a3df;
    --blue-hover: #0196cc;
    --green: #6ab04c;
    --green-hover: #5d9e41;
    --orange: #f0932b;
    --orange-hover: #e78d25;
}
