<!DOCTYPE html>
<html>
    <body>
        <header>
            <div style="display: flex; align-items: center; justify-content: center;">
                <img width="150px" src="{{ absolute_url(asset('./images/logo.jpg')) }}"></img>
            </div>
        </header>
        <main>
            <h3>Vous avez reçu un message depuis le formulaire de contact Menezes.be</h3>
            <br>Nom: {{ name }} 
            <br>E-mail: {{ mail }}
            <br>Message: {{ message }}
        </main>
    </body>
</html>
